@media screen, projection {
  html{color:#000;background:#FFF;}*{margin:0; padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}caption,th{text-align:left;}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}em{font-weight:italic;}ul,ol{margin:0 0 20px 25px;}p{margin:0 0 20px;}

/**
 * Redeclarations
 */
	html                              {height:100%; background:#fff; }
	body                              {color:#333; height:100%; padding-bottom:1px; font:12px/18px "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;} 
  table                             {width:100%; clear:both;}
  table th,
  table td                          {padding:5px;}
  table tr.even td                  {background:#eee; border:1px solid #ccc; border-width:1px 0;}
  table th.actions,
  table td.actions                  {text-align:right;}
  table td.actions a                {margin:0 0 0 5px; padding:1px 6px; -webkit-border-radius:7px; -moz-border-radius:7px; border:1px solid #999; background:#ccc; text-decoration:none; font-size:11px; line-height:11px;}
  table td.actions a:hover          {background:#bbb;}
  a                                 {color:#000; font-weight:bold;}
  a:hover                           {text-decoration:none;}
  a.button                          {margin:0; padding:6px 10px;-webkit-border-radius:7px; -moz-border-radius:7px; border:1px solid #999; background:#eee; text-decoration:none; font-size:13px; line-height:13px;}
  a.button:hover                    {background:#ccc;}
  ul li, ol li                      {margin:0 0 5px;}
  h1                                {font-size:24px; line-height:24px; text-transform:uppercase; margin:0 0 15px; color:#000;}
  label                             {margin:0 5px 0 0;}
  div.actions                       {float:right; margin:-34px 0 20px;}

  fieldset legend                   {font-weight:bold; }

  div.error                         {border:1px solid #911; margin:0 0 30px;}
  div.error h2                      {background:#911; color:#fff; margin:0 0 20px; padding:5px 10px; font-size:13px;}
  div.error ul                      {}
  div.error ul li                   {margin:0 0 3px;}
  
/**
 * Layout
 */
  div#wrapper                       {width:600px; margin:0 auto;}
    div#header                      {float:left; display:inline; width:100%; padding:10px 0;}
    div#header h3                   {float:left; display:inline; margin:0 0 10px; padding:0; line-height:1;}
    div#header h3 a                 {display:block; font-size:12px; color:#333; text-decoration:none;}
    div#header p                    {float:left; display:inline; margin:0 0 0 10px; padding:0; line-height:1; color:#666;}
  div#content                       {clear:both;}
    div#content div.flash           {margin:30px 0 20px; padding:5px 10px; border:1px solid #469046; background:#E8F1E8;}
}