<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Astrotrain</title>
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<h3><a href="/">Astrotrain</a></h3>
			<p>
				An email web hook app.
				<%- if session.authenticated? -%>
					<%= link_to 'Logout', url(:logout) %>
				<%- end -%>
			</p>
		</div>
		
		<div id="content">
			<% unless message[:notice].blank? -%>
	    	<div class="flash notice"><%= message[:notice] %></div>
	    <% end -%>
	    <%= catch_content :for_layout %>
		</div>
	</div>

</body>
</html>