<h1>Edit Mapping</h1>

<%= form_for @mapping, :action => resource(@mapping) do %>
<%=	partial :mapping %>
  <p class="submit"><%= submit "Update" %> or <%= link_to 'cancel', url(:mappings) %></p>
<% end =%>